// Light
$page-bg-light: #F5F5F5;
$content-bg-light: #FFFFFF;

$content-text-light: #333333;
$content-text-light-low-accent: #808080;

// Dark
$page-bg-dark: #333333;
$content-bg-dark: #424242;

$content-text-dark: #F5F5F5;
$content-text-dark-low-accent: #D3D3D3;


// Buttons

$btn-neutral: #EEEEEE;
$btn-neutral-bg: #EEEEEE;
$btn-neutral-text: #333333;
$btn-text-default: #FFFFFF;
$btn-primary: #007ACC;
$btn-primary-enlightened: #00AAFC;
$btn-green: #4CAF50;
$btn-red: #FF5722;
